<html>
<style>
.table {
border-collapse: collapse;
}

</style>
<table class="table" border="1">
<tr>
<th>No</th>
<th colspan="6">I. PEJABAT PENILAI</th>
<th>No</th>
<th colspan="6">II. PEGAWAI YANG DINILAI</th>
</tr>

<tr class="nobor">
<td>1</td>
<td>Nama</td>
<td colspan="5">..............</td>
<td>1</td>
<td>Nama</td>
<td colspan="5"> .................</td>
</tr>
<tr class="nobor">
<td>1</td>
<td>NIP</td>
<td colspan="5">..............</td>
<td>1</td>
<td>NIP</td>
<td colspan="5">.................</td>
</tr>
<tr class="nobor">
<td>1</td>
<td>Pangkat/Gol.Ruang</td>
<td colspan="5">..............</td>
<td>1</td>
<td>Pangkat/Gol.Ruang</td>
<td colspan="5">.................</td>
</tr>
<tr class="nobor">
<td>1</td>
<td>Jabatan</td>
<td colspan="5">..............</td>
<td>1</td>
<td>Jabatan</td>
<td colspan="5">.................</td>
</tr>
<tr class="nobor">
<td>1</td>
<td>Unit Kerja</td>
<td colspan="5">..............</td>
<td>1</td>
<td>Unit Kerja</td>
<td colspan="5">.................</td>
</tr>

<tr>
<th rowspan="2">NO</th>
<th rowspan="2">I. Kegiatan Tugas Jabatan</th>
<th rowspan="2">AK</th>
<th colspan="4">TARGET</th>
<th rowspan="2">AK</th>
<th colspan="4">REALISASI</th>
<th rowspan="2">PENGHITUNGAN</th>
<th rowspan="2">NILAI CAPAIAN</th>
</tr>
<tr>
<th>Kuant/ Output</th>
<th>Kual/ Mutu</th>
<th>Waktu</th>
<th>Biaya</th>

<th>Kuant/ Output</th>
<th>Kual/ Mutu</th>
<th>Waktu</th>
<th>Biaya</th>
</tr>
<tr>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
</tr>
<tr>
<td>1</td>
<td>Melaksanakan Pememantauan Kegiatan Pembinaan</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>335353535</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>34334343</td>
<td>4654645</td>
<td>45445</td>
</tr>
<tr>
<td>2</td>
<td>Melaksanakan Pememantauan Kegiatan Pembinaan</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>335353535</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>34334343</td>
<td>4654645</td>
<td>45445</td>
</tr>
<tr>
<td>3</td>
<td>Melaksanakan Pememantauan Kegiatan Pembinaan</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>335353535</td>
<td>0</td>
<td>1 dokumen</td>
<td>100</td>
<td>12 bln</td>
<td>34334343</td>
<td>4654645</td>
<td>45445</td>
</tr>
<tr>
<th></th>
<th>II. Tugas Tambahab dan Kreativitas</th>
<th></th>
<th colspan="4"></th>
<th></th>
<th colspan="4"></th>
<th></th>
<th></th>
</tr>
<tr>
<td>1</td>
<td>PPTK Kegiatan</td>
<td></td>
<td colspan="4"></td>
<td></td>
<td colspan="4"></td>
<td></td>
<td rowspan="2">1</td>
</tr>
<tr>
<td>&nbsp;</td>
<td></td>
<td></td>
<td colspan="4"></td>
<td></td>
<td colspan="4"></td>
<td></td>

</tr>

<tr>
<td>2</td>
<td>(kreatifitas)</td>
<td></td>
<td colspan="4"></td>
<td></td>
<td colspan="4"></td>
<td></td>
<td rowspan="2"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>(kreatifitas)</td>
<td></td>
<td colspan="4"></td>
<td></td>
<td colspan="4"></td>
<td></td>

</tr>
<tr>
<td colspan="13">&nbsp;</td>
<td></td>
</tr>
<tr>
<td rowspan="2" colspan="13">Nilai CAPAIAN SKP</td>
<td>&nbsp;</td>
</tr>

<tr>
<td>(baik)</td>
</tr>
</table>
</html>